<style type="text/css">
	#glowny
	{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 600px;
	border: 1px solid grey;
	}
	#czarny1
	{
	float: left;
	background-color: #1a1f25;
	width: 298px;
	height: 98px;
	color: white;
	border: 1px solid grey;
	}
	#czarny2
	{
	float: left;
	background-color: #1a1f25;
	width: 298px;
	height: 98px;
	color: white;
	border: 1px solid grey;
	display: table-cell;
	vertical-align: middle;
	}
	#szary1
	{
	float: left;
	background-color: #ebebeb;
	width: 298px;
	height: 98px;
	border: 1px solid grey;
	}
	#bialy1
	{
	float: left;
	background-color: white;
	width: 298px;
	height: 98px;
	border: 1px solid grey;
	}
	
	
</style>